@model AgileFood.Models.Pedido

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Pedido @Html.DisplayFor(model => model.Id) de @Html.DisplayFor(model => model.Funcionario.Nome)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Pedido em</dt>
        <dd>@Model.DataDeRegistro.ToString("dd/MM/yyyy 'às' HH:mm")</dd>
        <dt>Itens</dt>
        @foreach (var item in Model.Itens)
        {
            String valor = string.Format("{0:N}", item.Produto.Valor);
            <dd>@item.Quantidade @item.Produto.Nome - <strong>R$ @valor</strong></dd>
        }
        <dt>Valor total</dt>
        @{ String valorTotal = string.Format("{0:N}", Model.ValorTotal); }
        <dd><strong>R$ @valorTotal</strong></dd>
        <dt>Observações</dt>
        <dd>@Html.DisplayFor(model => model.Observacoes)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
</p>