@model AgileFood.Models.Pedido

<table class="table">
    <tr>
        <th></th>
        <th>Item</th>
        <th>Valor</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Itens)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
            <td>@Html.DisplayFor(modelItem => item.Produto.Nome)</td>
            <td style="width: 75px;">R$ @Html.DisplayFor(modelItem => item.Produto.Valor)</td>
            <td>
                <input type="button" value="-" onclick="delProduto(@item.Produto.Id);" />
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td style="text-align: right;font-weight: bold;">Total:</td>
        <td style="font-weight: bold">R$ @Model.ValorTotal</td>
        <td></td>
    </tr>
</table>

<script type="text/javascript">

    function delProduto(produto) {
        $.post("/Pedidos/RemoverProdutoDoPedido", { "id": produto },
            function (data) {
                $('#itens-pedido').html(data);
            });
    }

</script>