@model AgileFood.Models.Pedido

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar Pedido @Html.DisplayFor(model => model.Id) - @Html.DisplayFor(model => model.DataDeRegistro)</h2>

<h3>Você tem certeza?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fornecedor
        </dt>

        <dd>
            Restaurante
        </dd>

        <dt>
            Itens
        </dt>

        <dd>
            Item 1 - R$
        </dd>
        <dd>
            Item 2 - R$
        </dd>

        <dt>
            Valor total
        </dt>

        <dd>
            R$
        </dd>

        <dt>
            Observações
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
