@model IEnumerable<AgileFood.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Valor Total
        </th>
        <th>
            Fornecedor
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeRegistro)
            </td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
            </td>
        </tr>
    }

</table>
