@using AgileFood.Models;
@using AgileFood.Repositorios;

<!DOCTYPE html>
<html style="position: relative;min-height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgiliFood</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryuno")
    @Scripts.Render("~/bundles/logouthome")
</head>
<body style="margin-bottom: 60px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #32404e;border-color: #32404e;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AgiliFood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: white; font-size: 20px;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    @{
                        Usuario usuarioLogado = RepositorioUsuarios.UsuarioLogado();
                        if (usuarioLogado != null)
                        {
                            switch (usuarioLogado.Tipo)
                            {
                                case TipoDeUsuario.Funcionario:
                                    <li>@Html.ActionLink("Meus Pedidos", "Index", "Pedidos")</li>
                                    break;
                                case TipoDeUsuario.Fornecedor:
                                    <li>@Html.ActionLink("Meus Cardápios", "Index", "Cardapios")</li>
                                    <li>@Html.ActionLink("Meus Produtos", "Index", "Produtos")</li>
                                    break;
                                case TipoDeUsuario.Financeiro:
                                    <li>@Html.ActionLink("Meus Pedidos", "Index", "Pedidos")</li>
                                    <li>@Html.ActionLink("Financeiro", "Index", "Financeiro")</li>
                                    break;
                                case TipoDeUsuario.Administrador:
                                    <li>@Html.ActionLink("Meus Pedidos", "Index", "Pedidos")</li>
                                    <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                                    <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                                    <li>@Html.ActionLink("Financeiro", "Index", "Financeiro")</li>
                                    break;
                            }
                        }
                    }
                </ul>
                <div class="dropdown" style="float: right; padding: 15px 0px;">
                    @{ if (@usuarioLogado != null)
                        {
                            <span style="color: #9d9d9d">Olá @usuarioLogado.Nome!</span>
                        };}
                    <button id="dropdown-bt" class="dropdown-header-bt dropdown-toggle glyphicon glyphicon-chevron-down" type="button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Meus dados</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a id="botao-sair" href="#">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <span style="float: left;">&copy; @DateTime.Now.Year - AgiliFood</span>
            <span style="float: right;">By Pedro Sanches</span>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('#dropdown-bt').on('mouseover', function () {
            $(this).trigger('click');
        })
    </script>
</body>
</html>
