@model IEnumerable<AgileFood.Models.Cardapio>

@{
    ViewBag.Title = "Index";
}

<h2>Cardápios</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Ativo</th>
        <th>Segunda-Feira</th>
        <th>Terça-Feira</th>
        <th>Quarta-Feira</th>
        <th>Quinta-Feira</th>
        <th>Sexta-Feira</th>
        <th>Sábado</th>
        <th>Domingo</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @item.DataDeRegistro.ToString("dd/MM/yy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.SegundaFeira)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.TercaFeira)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.QuartaFeira)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.QuintaFeira)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.SextaFeira)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.Sabado)
            </td>
            <td style="font-size: 12px;">
                @Html.DisplayFor(modelItem => item.Domingo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id })
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
            </td>
        </tr>
    }

</table>
